.plotLabel {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-padding: 5;
    -fx-alignment: CENTER;
    -fx-min-width: 65;
}
.plotBox {
    -fx-spacing: 10;
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-background-color: #658E6E;
}
.vBox {
    -fx-padding: 30;
    -fx-alignment: TOP_CENTER;
    -fx-background-color: #658E6E;
    -fx-spacing: 10;
    -fx-max-height: 800;
    -fx-max-width: 800;
}
.moneyLabel {
    -fx-font: 16px "Segoe UI";
}
.displayDateLabel {
    -fx-font: 14px "Segoe UI";
}
.cropBox {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-min-height: 60;
    -fx-min-width: 60;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}
.inventoryPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: CENTER;
    -fx-padding: 5;
}
.inventoryButton {
    -fx-alignment: TOP_LEFT;
    -fx-spacing: 20;
}
.inventoryLabel {
    -fx-font: 16px "Segoe UI";
    -fx-alignment: CENTER;
    -fx-padding: 20;
}
.plantAndHarvestPlusWaterButtons {
    -fx-hgap: 5;
    -fx-vgap: 10;
    -fx-alignment: CENTER;
}
.plotScrollPane {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-color: #658E6E;
    -fx-min-height: 320;
}